<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!---Shaima Rahman - 301269459 - 01/10/2023-->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="header">
        <img src="/images/logo.png" alt="Your Logo" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</body>
</html>
