<!---about.ejs-->
    <%- include('partials/header.ejs') %>

<body>
    <style>
        body {
            font-size: 18px;
        }
        </style>
    <div class="about-section">
        <img src="/images/my_image.jpg" alt="My Image" class="profile-image">
        <div class="about-text">
        <h2>Shaima Rahman</h2>
        <p>
            I am a dedicated Software Engineering student, actively honing my skills and knowledge in a variety of programming languages and <br>technologies. With a strong foundation in C#, JavaScript, Python, SQL, and more, I am passionate about crafting efficient and intuitive <br>software solutions. Leveraging my professional experience in IT solutions and technical troubleshooting, I am committed to continuous <br>growth in the field of software development.
        </p>
        <h3>Education</h3>
        <p><b>Centennial College</b></p>
        <p>
            Software Engineering Technology 2022 - 2025
        </p>
        <p>
            <a href="/pdfs/Shaima_Rahman_Resume.pdf" target="_blank" class="resume-button">Resume</a>
        </p>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
