<!---home.ejs-->
    <%- include('partials/header.ejs') %>

    <style>
       body {
            background-image: url('/images/background1.jpeg');
           background-size:cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding-top: 100px; 
            /*color: white;*/
            font-size: 25px;
        }

    </style>
    <div class="welcome-message">
        <h1>Welcome to My Portfolio Website!</h1>
    </div>

    <div class="mission-statement">
        <h3>Mission Statement</h3>
        <p>I am dedicated to engineering software solutions that deliver seamless and intuitive experiences to users.</p>
    </div>
    <%- include('partials/footer.ejs') %>

