 <!---projects.ejs-->
    <%- include('partials/header.ejs') %>
    <div class="project-container">
    <div class="project">
        <h3>Project 1: Gallery</h3>
        <img src="/images/gallery_image.png" alt="Project 1 Image" class="project-image">
        <p>
            A simple image gallery using Ajax and jQuery. Has a countdown feature that shows how much time is left before next image is diaplayed and user can also click on buttons to change the image. 
        </p>
    </div>

    <div class="project">
        <h3>Project 2: Poker Game</h3>
        <img src="/images/poker_image.png" alt="Project 2 Image" class="project-image">
        <p>
         A web-based poker game encompassing randomized card-dealing algorithms, dynamic user interactions, and real-time bet-tracking mechanisms.
        </p>
    </div>

    <div class="project">
        <h3>Project 3: Fractions Calculator</h3>
        <img src="/images/calculator_image.png" alt="Project 3 Image" class="project-image">
        <p>
            A GUI application using Windows Forms and C# that takes fraction inputs and does mathematical operations, giving a fraction output.
        </p>
    </div>
    </div>
    <%- include('partials/footer.ejs') %>
