<!---services.ejs-->
    <%- include('partials/header.ejs') %>
    <div class="service-container">
    <div class="service">
        <h3>General Programming</h3>
        <img src="/images/programming.png" alt="General Programming Image" class="service-image">
        <p>
            Providing expertise in various programming languages and technologies to help you with your software needs.
        </p>
    </div>

    <div class="service">
        <h3>Web Development</h3>
        <img src="/images/web_dev.jpeg" alt="Web Development Image" class="service-image">
        <p>
            Crafting and coding modern and engaging websites that cater to your business or personal requirements.
        </p>
    </div>

    <div class="service">
        <h3>Mobile Apps</h3>
        <img src="/images/mobile_apps.jpg" alt="Mobile Apps Image" class="service-image">
        <p>
            Building intuitive and functional mobile applications for Android and iOS platforms.
        </p>
    </div>
    </div>

    <%- include('partials/footer.ejs') %>

